.main-content__text .text1 {
  font-size: 2em;
  color: gray;
  font-weight: 600;
  text-align: center;
  padding: 9rem 0 5rem 0;
}
.main-content__text .text2 {
  text-align: center;
  font-size: 4rem;
  padding: 50p;
}
.main-content__image {
  justify-content: center;
  width: 1750px;
  padding: 50px;
}
.main-content__image .first{
  width: 400px;
  height: 600px;
  border: 1px solid ;
  margin: 3.5rem;
  background-color: midnightblue;
  border-radius: 2.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
.main-content__image .second{
  width: 400px;
  height: 600px;
  border: 1px solid ;
  margin: 3.5rem;
  background-color: midnightblue;
  border-radius: 2.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
.main-content__image .third{
  width: 400px;
  height: 600px;
  border: 1px solid ;
  margin: 3.5rem;
  background-color: midnightblue;
  border-radius: 2.5rem;
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
}
.main-content__image .first__tittle{
  font-size: 2rem;
}
.main-content__image .second__tittle{
  font-size: 2rem;
}
.main-content__image .third__tittle{
  font-size: 2rem;
}

.main-content__image:hover{ /*배경에 적용됨*/ 
  transform: scale(0.9);
  backdrop-filter: blur(10px);
  
}
.main-content__image .first:hover{ /*안된걸로 보임*/ 
  backdrop-filter: blur(10px);
}

@media screen and (max-width:768px){
  .main-content__image {
    flex-direction: column;
  }
  
}